data/sample_data/shapefile_test.shx filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test_out.dbf filter=lfs diff=lfs merge=lfs -text
data/sample_data/stack.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_red.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_rededge.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test.prj filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test_out.shx filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_tile.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test_out.cpg filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test_out.shp filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_multispectral.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_nir.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test.dbf filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test.shp filter=lfs diff=lfs merge=lfs -text
data/sample_data/shapefile_test_out.prj filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_blue.tif filter=lfs diff=lfs merge=lfs -text
data/sample_data/example_green.tif filter=lfs diff=lfs merge=lfs -text
